{% extends 'base.html' %}
{% block title %}Create Post{% endblock %}

{% block content %}
<h1>Create Post</h1>
<div class="row">

    <div class="col-md-6 offset-md-3">
        <form action="{% url 'posts:create_post' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="title" class="form-label mt-4">Title*</label>
                <input type="text" class="form-control" id="title" name="title" required>
              </div>
              <div class="form-group">
                <label for="image" class="form-label mt-4">Image*</label>
                <input type="file" class="form-control" id="image" name="image" required>
              </div>
              <div class="form-group">
                <label for="description" class="form-label mt-4">Description*</label>
                <textarea name="description" class="form-control" id="description" rows="4" spellcheck="false" required></textarea>
              </div>
              <br>
              <div class="form-group">
              <a href="{% url 'posts:home' %}" class="btn btn-warning">Cancel</a>
              <button type="submit" class="btn btn-primary">Submit</button>
              </div>
        </form>
    </div>
</div>



{% endblock %}