{% extends 'base.html' %}
{% block title %}Posts{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 mb-3">
  {% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
    </button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
  </div>
  <div class="col-md-12 mb-3">
    <a href="{% url 'posts:create_post' %}" class="btn btn-success">Create Post</a>
  <hr>

    <small>Number of Posts: {{number_of_posts}}</small>
  </div>
  {% for post in posts %}
  <div class="col-md-4">
    <div class="card mb-3">
      <h3 class="card-header">{{post.title|title}}</h3>
     <img src="{{post.image.url}}" alt="{{post.title|title}}">
      <div class="card-body">
        <p class="card-text">{{post.description|title|truncatechars:20 }}</p>
      </div>
   
      <div class="card-body">
        <a href="{% url 'posts:post_details' post.id %}" class="card-link">Read More</a>
        <a href="#" class="card-link">Delete</a>
        <a href="#" class="card-link">Edit</a>
      </div>
      <div class="card-footer text-muted">
       {{post.timestamp|timesince}}
      </div>
    </div>

  </div>
  {% endfor %}
  
</div>

{% endblock %}